

input , select , textarea{
    border: 1px solid rgb(86, 86, 86);
    padding: 8px 10px;
    width: 100%;
}

input:focus , select:focus , textarea:focus{
    border: 1px solid rgb(34, 34, 34);
    outline: none;
}


.primary-contained-btn{
    background-color: var(--primary);
    color: white;
    padding: 8px 20px;
    text-transform: uppercase;
}

.primary-outlined-btn{
    background-color: white;
    color: var(--primary);
    padding: 8px 20px;
    text-transform: uppercase;
    border: 1px solid var(--primary);
}